---
import { IProduct, widthClasses } from "../types";

// Определяем тип данных, которые мы ожидаем
interface Props {
	product: IProduct;
	widthClass: widthClasses;
}

// Получение данных
const {
	product,
	widthClass,
} = Astro.props as Props;
---

<div class={"w-full md:"+widthClass.valueOf()+" p-6 flex flex-col flex-grow flex-shrink"}>
	<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
		<a href={"./post/"+product.id} class="flex flex-wrap no-underline hover:no-underline">
			<img src={product.image}
				class="h-64 w-full rounded-t pb-6">
			<p class="w-full text-gray-600 text-xs md:text-sm px-6 uppercase">{product.category}</p>
			<div class="w-full font-bold text-xl text-gray-900 px-6">{product.title}</div>
			<p class="text-gray-800 font-serif text-base px-6 mb-5">
				{product.description}
			</p>
		</a>
	</div>
	<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
		<div class="flex items-center justify-between">
			<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content={product.title}
				src={product.image} alt={product.title}>
			<p class="text-gray-600 text-xs md:text-sm">Price: {product.price}ŧ</p>
		</div>
	</div>
</div>